<!DOCTYPE html>
<html>
<head>
  <title>Merpy</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>



 <nav class="navbar navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Project Meow!</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Ruby</a></li>
            <li><a href="#about">Is</a></li>
            <li><a href="#contact">Kinda</a></li>
            <li><a href="#contact">Kewl</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>


<div class="container container-fluid">

<%= yield %>

</div>
</body>
</html>
